@import 'variables.scss';
@import 'mixins.scss';
@import 'global.scss';
@import 'nav.scss';
@import 'resume-item.scss';
@import 'bootstrap-overrides.scss';

.bg-primary {
  background-color: $primary !important;
}
.text-primary {
  color: $primary !important;
}
a {
  color: $primary;
}
a:active,
a:focus,
a:hover {
  color: $primary;
}

.tech-tags {
  display: inline-block;
  background-color: $primary;
  color: #fff;
  padding: 4px 10px;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 5px;
}

.project-box {
  display: flex;
  flex-direction: row;
}

.circle {
  list-style-type: circle;
}

.profile {
  text-shadow: 1.5px 1.5px #e6dfdfb6;
}
